[Unit]
Description=NVIDIA GPU Persistence Mode
After=nvidia-persistenced.service docker.service
Requires=nvidia-persistenced.service

[Service]
Type=oneshot
ExecStart=/usr/bin/nvidia-smi -pm 1
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
